body {
  min-height: 100vh;
}

.form {
  border-radius: 8px;
  padding: 0;
  overflow: hidden;
  border: 0.8px solid #e3e3e3;
}
.form .form__heading[data-form="formLogin"] {
  padding: 12.29px 20.87px 17.91px;
  font-size: 21.68px;
  font-weight: 400;
  line-height: 26.12px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #d9d9d9;
}

.form .formLogin {
  padding: 45px 28px;
}

.form .formLogin .form-control {
  height: auto;
  padding: 13px 21px;
  margin-bottom: 22px;
  box-shadow: 0px 2px 4px 1px #00000040;
}

.form .formLogin .form-control::placeholder {
  color: #d9d9d9;
}

.formLogin .btn.btn-success[type="submit"] {
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 19px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 22px;
}

.formLogin .btn.btn-link {
  color: #155fee;
}

.form .form-check-label {
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  color: #383937d9;
}

.form .form-check-input {
  width: 20px;
  aspect-ratio: 1;
}

.form .form-check-input:checked {
  background-color: red !important;
}

[data-validate="false"] ~ .invalid-feedback {
  display: block;
}

[data-validate="false"] {
  border-color: #dc3545;
}
