.content .content__heading {
  font-size: 30px;
  line-height: 1;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid #d9d9d9;
  padding: 18px 0;
  margin-bottom: 32px;
}

.tableWrapper {
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  overflow: hidden;
}

.tableWrapper .tableWrapper__heading {
  padding: 10px 18px 9px;
  font-size: 16px;
  line-height: 38px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #d9d9d9;
}

.tableWrapper .tableWrapper__body {
  padding: 22px 26px;
}

.tableWrapper__table th,
.tableWrapper__table td {
  border: 1px solid #747373b5;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

.tableWrapper__table thead th {
  border-bottom: none;
}
.tableWrapper__table thead th:not(:first-child) {
  border-left: none;
}

.tableWrapper__table tbody tr:not(:last-child) td {
  border-bottom: none;
}
.tableWrapper__table tbody td:not(:first-child) {
  border-left: none;
}

.tableWrapper__table th:first-child,
.tableWrapper__table td:first-child {
  width: 6.5%;
  min-height: 45px;
  display: grid;
  place-items: center;
}

.tableWrapper__table th:nth-child(2),
.tableWrapper__table td:nth-child(2) {
  width: 20%;
  min-height: 45px;
  display: block;
}

.tableWrapper__table th:nth-child(3),
.tableWrapper__table td:nth-child(3) {
  width: 49%;
  min-height: 45px;
  display: block;
}
.tableWrapper__table th:nth-child(4),
.tableWrapper__table td:nth-child(4) {
  min-height: 45px;
  width: calc(100% - 20% - 49% - 6.5%);
  display: block;
}

.tableWrapper__table tr th:not(:first-child) {
  padding-left: 14px;
}

.tableWrapper__table tr td:not(:first-child) {
  padding: 18px 14px 8px;
}

.tableWrapper__table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
